DEBUG=False
DJANGO_SECRET_KEY=62d03e7e8f420a5850002c56e0b8f1983c669aa6ea7432326ea595c4c9a9b3cd
ALLOWED_HOSTS=*,.onrender.com
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
ADMIN_USERNAME=NgureTech
ADMIN_EMAIL=codveda@gmail.com
ADMIN_PASSWORD=Characteristics12.

# Render/Postgres production style
# Example: postgres://user:password@host:5432/dbname
DATABASE_URL=
DB_SSL_REQUIRE=True

# Local fallback (used when DATABASE_URL is empty)
POSTGRES_DB=Codveda_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=codveda123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
